/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
}



body {
    font-family: "Bebas Neue", serif;
    background-color: #ffffffb6;
    color: #333;
    line-height: 1.6;
}



/* Cabeçalho */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
/* Logo na esquerda */
.logo {
    flex: 1;
}
.logo a {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
/* Menu de navegação no centro */
.nav-center {
    display: flex;
    flex: 2;
    align-items: center;
    gap: 20px;
}
.nav-center a:hover {
    color: rgba(41, 40, 39, 0.794); 
}
/* Links do menu */
.nav-center a {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
/* Dropdown (submenus) */
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 120px;
    padding: 10px 0;
}
.dropdown-menu a {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
/* Ícones do menu direito */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right img {
    height: 20px;
    cursor: pointer;
}
/* Ajustar o tamanho dos ícones */
i {
    font-size: 15px;
    color: black;
    margin-right: 10px;
}
i:hover {
    color: rgba(41, 40, 39, 0.794); /* Adiciona um efeito de hover para mudar a cor ao passar o mouse */
}
/* Responsivo */
@media (max-width: 768px) {
    .nav-center {
        display: none; /* Esconde menu no mobile */
    }

    .header-container {
        justify-content: space-between;
    }

    .logo a {
        font-size: 20px;
    }

    .nav-right img {
        height: 18px;
    }
}



/* Banner 1 */
.banner1 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-align: center;
    color: white;;
}
.banner1 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner1-texto {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-1%, -50%);
    text-align: center;
}
.banner1-texto h2 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: rgb(252, 252, 252);
}
.banner1-texto p {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 20px;
    color: white;
}
.botao-banner1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(208, 197, 114, 0.502);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.botao-banner1:hover {
    background-color: rgba(71, 75, 31, 0.42);
}



/* Drop 4 */
.D4 {
    padding: 40px 20px;
    text-align: center;
}
.tituloD4 h2 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    font-weight: 300; /*ou bold*/
    color: #000;
}
.subtituloD4 h3 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200, lighter;
    font-size: 14px;
    color: #000;
}
.produtosD4 {
    padding: center;
    text-align: left;
}
.produtosD4-container1 {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10em;
    justify-content: center;
    justify-items: center;
    margin-bottom: 3em;
}
.produtosD4-container2{
    display: flex;
    justify-content: center;
    gap: 10em;
    margin-bottom: 3rem;
}
.produtosD4 img {
    width: 18em; /* Largura fixa da imagem */
    height: 23em; /* Altura fixa da imagem */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 8px; /* Borda da imagem */
}
.titulo-produtosD4 {
    text-align: left;
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    flex-direction: column; /* Organiza título, preço coluna */
    align-items: center; /* Centraliza o conteúdo */
    justify-content: space-between; /* Distribui os elementos com espaçamento */
    width: 100%; /* Garante que o conteúdo ocupe todo o espaço disponível */
}
.titulo-produtosD4 h3 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 10px 0;
    margin-bottom: 5px;
    color: black;
    line-height: 0.5rem;
    text-align: left;
}
.titulo-produtosD4 p {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: black;
    margin-bottom: 5px;
    text-align: left;
}


/* Banner 2 */
.banner2 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



/* Mais vendidos */
.MV {
    padding: 40px 20px;
    text-align: center;
}
.MV h2 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #000;
}
.produtosMV {
    padding: center;
    text-align: left;
}
.produtos-containerMV {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    margin-bottom: 5rem; /*espacamento entre os produtos e conteudo de baixo*/
}
.produtoMV img {
    width: 270px;
    height: 310px;
    object-fit: cover;
    border-radius: 10px;
}
.titulo-produtoMV {
    text-align: left;
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.titulo-produtoMV h3 {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 10px 0;
    margin-bottom: 5px;
    color: black;
    line-height: 0.5rem;
    text-align: left;
}
.titulo-produtoMV p {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    text-align: left;
}



/* Banners */
.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.banner3, .banner4 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.banner3 img, .banner4 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner5 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0px; /*espacamento entre um banner e outro*/
}
.banner5 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner6 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -10px; /*espacamento entre um banner e outro*/
    margin-bottom: 10rem; /*espacamento entre o banner e conteudo de baixo*/
}
.banner6 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



/* Rodapé */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
footer a {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
